.detalleMuestra {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);
    box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);

}

.detalleMuestra img {
    min-width: 20px;
    max-width: 400px;
}

.detalleDato {
    display: flex;
    flex-direction: column;
}