.detailCard {
    padding-top: 80px;
}

.contenedorDetalleMuestra {
    width: 80%;
    margin: auto;
    -webkit-box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);
    box-shadow: 3px 13px 94px -15px rgba(0, 0, 0, 0.07);
}

.detalleMuestra {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around
}

.productoDetalleImagen {
    min-width: 150px;
    max-width: 300px;
    padding: 20px;
}

.detalleDato {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}