.navBar__list {
    list-style: none;
    color: #000;
}

.Logo {
    width: 150px;
    height: auto;
}

.navBar__listContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navBar__listContent a {
    text-decoration: none;
}

.navBar__listContent a:hover {
    text-decoration: underline #000;
}