.footer {
    background-color: rgb(99, 99, 99);
    text-align: center;
    color: #ebebf0;
    padding: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerP {
    margin-bottom: 0;
    font-size: small;
    font-weight: 100;
}